The[[:space:]]Note filter=lfs diff=lfs merge=lfs -text
The[[:space:]]Note/** filter=lfs diff=lfs merge=lfs -text
The[[:space:]]Note/**/* filter=lfs diff=lfs merge=lfs -text
The Note/Assets/Outside Assets/Dactilardesign/

